includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/test/appAppKernelTestDebugContainer.xml
    ignoreErrors:
        # There is no global constants definition file we could include, ignore it:
        - '#Constant PIMCORE_[A-Z\\_]+ not found\.#'
