{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="search-form">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>