{% if searchSuggestions is not empty %}

    {{ 'dynamic_search.suggestions.did_you_mean'|trans }}:
    {% for i,suggestion in searchSuggestions %}
        <a href="?{{ lucene_search_pagination_url(suggestion) }}">{{ suggestion }}</a>{{ searchSuggestions|length -1 != i ? ',' : '' }}
    {% endfor %}

{% endif %}