{% set pagination_data = paginator.paginationData %}

<div class="list-group mb-4">
    {% if pagination_data.totalCount == 0 %}
        <span class="no-result">{{ 'dynamic_search.ui.no_results'|trans }}</span>
    {% else %}
        {% for document in paginator %}
            {% include '@DynamicSearch/common/list/item/_wrapper.html.twig' with { document: document, oc_allocator: oc_allocator } only %}
        {% endfor %}
    {% endif %}
</div>

{% set paginator_filter =  {
    contextName: context_name,
    outputChannelName: oc_allocator.parentOutputChannelName is not null ? oc_allocator.parentOutputChannelName : oc_allocator.outputChannelName,
    (query_identifier): user_query
} %}

{% if active_tab is defined and active_tab is not null %}
    {% set paginator_filter = paginator_filter|merge({'ds-selected-tab': active_tab}) %}
{% endif %}


{% include '@DynamicSearch/common/pagination/_default.html.twig' with {
    current_filters: paginator_filter,
    page_identifier: page_identifier,
    current_page: current_page,
    pagination_path: search_route_name,
    last_page: pagination_data.last,
    show_always_first_and_last: true,
    extreme_pages_limit: 5,
    nearby_pages_limit: 2
} only %}

{# use this paginator for simple ajax loader ("more...")

    {% include '@DynamicSearch/common/pagination/_single.html.twig' with {
        current_filters: paginator_filter,
        page_identifier: page_identifier,
        current_page: current_page,
        pagination_path: 'dynamic_search_frontend_search_list',
        last_page: pagination_data.last,
        show_always_first_and_last: true,
    } only %}

#}