{% macro count(block) %}
    {% set counter = 0 %}
    {% if block.total_count is not null %}
        {% set counter = block.total_count %}
    {% endif %}
    <span class="badge badge-dark">{{ counter }}</span>
{% endmacro %}