{% macro count(block) %}
    {% set counter = 0 %}
    {% if block.paginator is not null %}
        {% set counter = block.paginator.count %}
    {% elseif block.data is not null %}
        {% set counter = block.data|length %}
    {% endif %}

    <span class="badge badge-dark">{{ counter }}</span>
{% endmacro %}