<div class="list-group mb-4">
    {% if data is iterable and data|length > 0 %}
        {% for document in data %}
            {% include '@DynamicSearch/Common/List/Item/_wrapper.html.twig' with { document: document } only %}
        {% endfor %}
    {% else %}
        <span class="no-result">{{ 'dynamic_search.ui.no_results'|trans }}</span>
    {% endif %}
</div>