<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div class="container mt-5">

    <div class="row">
        <div class="col-12">
            <h1>Dynamic Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            {% block dynamic_search_output_channel_search_list_error %}
                {% if error_message is defined and error_message is not null %}
                    <div class="dynamic-search output-channel-search error alert alert-danger">{{ error_message }}</div>
                {% endif %}
            {% endblock %}

            <div class="dynamic-search output-channel-search list">
                {% block dynamic_search_output_channel_search_list_content %}
                    {# render content #}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.css" rel="stylesheet"/>

</body>
</html>