<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div class="container mt-5">

    <div class="row">
        <div class="col-12">
            <h1>Dynamic Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            {% block dynamic_search_error %}
                {% if error_message is defined and error_message is not null %}
                    <div class="dynamic-search output-channel-search error alert alert-danger">{{ error_message }}</div>
                {% endif %}
            {% endblock %}

            <div class="dynamic-search output-channel-search list">
                {% block dynamic_search_list_content %}
                    {# render content #}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.dynamic-search-tabs a').on('click', function (e) {
            $('input[type="hidden"][name="ds-selected-tab"]').val($(this).data('identifier'));
        });
    });
</script>
</body>
</html>