{% extends '@DynamicSearch/layout.html.twig' %}

{% block dynamic_search_list_content %}

    {{ parent() }}

    {% if has_error == false %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {% include '@DynamicSearch/common/_search_form.html.twig' %}

        {% if search_active == true %}
            {% if total_count > 0 %}
                {% set badge_label = ('{0}%s|{1}%s|]1,Inf[%s'|format('dynamic_search.ui.no_items', 'dynamic_search.ui.item', 'dynamic_search.ui.items'))|trans({'%count%': total_count}) %}
                {% set badge_markup = '<span class="badge badge-dark">%s</span>'|format(badge_label) %}
                {% set query_markup = '<em>%s</em>'|format(user_query) %}
                <small class="mb-4 d-block">
                    {{ 'dynamic_search.ui.result_subline'|trans({'%badge%' : badge_markup, '%query%' : query_markup})|raw }}
                </small>
            {% endif %}
            {% include '@DynamicSearch/common/list/_wrapper.html.twig' %}
        {% endif %}

        {{ form_end(form) }}

    {% endif %}

{% endblock %}